h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p,
li,
span,
a,
button,
input,
div {
  font-family: "Roboto", sans-serif;
}

.select {
  background-color: lighten($color-secondary, 2%);
  border-radius: 8px;
  border: 1px solid lighten($color-secondary, 4%);

  select {
    font-size: 1rem;
    background-color: lighten($color-secondary, 2%);
    border: 0;
    outline: 0;
    color: white;
    padding: 7px 3px 7px 15px;
    -webkit-appearance: none;

    &:focus,
    &:active {
      outline: 0;
    }
  }

  &::after {
    content: "";
    background-image: url(../icons/arrow-down.svg);
    width: 10px;
    height: 7px;
    background-size: 10px;
    background-repeat: no-repeat;
    display: inline-block;
    text-align: center;
    margin-right: 8px;
  }
}
