$color-primary: #231c33;
$color-secondary: #2e283d;
$color-lightgray: #a9a5af;
$color-green: #50e393;
$color-red: #e1456d;
$color-bitcoin: #d8975f;
$color-ethereum: #5bbbec;
$color-litecoin: #eb66be;
