$color-primary: #231c33;
$color-secondary: #2e283d;
$color-lightgray: #a9a5af;
$color-green: #50e393;
$color-red: #e1456d;
$color-bitcoin: #d8975f;
$color-ethereum: #5bbbec;
$color-litecoin: #eb66be;
$color-date: #84768b;
$color-transfer: #ba7ef5;
$radial-gradient: radial-gradient(
  lighten($color-secondary, 10%),
  lighten($color-secondary, 1%)
);
$box-shadow: 0 -6px 9px 3px $color-primary;

@mixin columnStyle {
  background-color: $color-secondary;
  border-radius: 8px;
  padding: 20px;
}

@mixin dollarCurr {
  &::before {
    content: "$";
    font-size: 0.7rem;
    vertical-align: top;
    margin-right: 2px;
  }
}
