.market-overview,
.profit-container,
.quick-transfer {
  @include columnStyle;
}

.market-overview {
  position: relative;
  grid-column: span 2;
  grid-row: span 2;
}

.market-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.market-footer {
  display: flex;
  justify-content: center;
  width: 100%;

  .indicator {
    margin: 5px 7px;
    display: flex;
    align-items: center;

    &::before {
      content: "•";
      margin-right: 5px;
      font-size: 1.8rem;
    }

    &-bitcoin {
      &::before {
        color: $color-bitcoin;
      }
    }

    &-litecoin {
      &::before {
        color: $color-litecoin;
      }
    }

    &-ethereum {
      &::before {
        color: $color-ethereum;
      }
    }
  }
}

.profit {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .profit-icon {
    padding: 10px 12px;
    background: $radial-gradient;
    border-radius: 8px;

    img {
      height: 30px;
      width: 30px;
    }
  }

  &-income {
    margin-bottom: 25px;
  }
}
