.profiles {
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
  gap: 5px;

  .profile,
  .add-profile {
    height: 49px;
    width: 49px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s linear;
  }

  .profile {
    padding: 10px;
    background-color: lighten($color-secondary, 3%);
    text-align: center;
    border: 1px solid transparent;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &:hover {
      border: 1px solid $color-litecoin;
    }

    img {
      max-height: 25px;
    }
  }

  .add-profile {
    border: 1px dashed $color-litecoin;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: $color-litecoin;
    }
  }
}

.transfer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &-label {
    font-size: 0.8rem;
    color: $color-lightgray;
    margin-right: 15px;
  }

  &-amount {
    font-size: 1.2rem;
    font-weight: 500;
    @include dollarCurr;
  }
}
