.navigation {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid $color-secondary;
  padding: 15px;
  overflow-y: auto;
  z-index: 10;

  @media (max-width: 856px) {
    flex-direction: row-reverse;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $color-secondary;
    padding: 0px 15px;
  }
}

.logo-container {
  display: flex;
  justify-content: center;

  img {
    max-height: 40px;
  }
}

.nav-top {
  > * {
    margin-bottom: 20px;

    @media (max-width: 856px) {
      margin-bottom: 0;
    }
  }

  @media (max-width: 856px) {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

.nav-bot {
  @media (max-width: 856px) {
    display: flex;
  }

  .mobile-nav {
    &:hover {
      .nav-icon {
        filter: unset;
      }
    }
  }
}

.nav-link {
  text-align: center;
  display: block;
  border-radius: 8px;
  transition: all 0.2s linear;
  line-height: 0;

  &.mobile-nav {
    @media (min-width: 857px) {
      display: none;
    }
  }

  .nav-icon {
    height: 50px;
    padding: 15px 10px;
    transition: all 0.2s linear;
  }

  &:hover {
    background-color: $color-secondary;

    .nav-icon {
      filter: brightness(0) invert(1);
    }
  }
}
